{% if grid.hasBatchActions %}
    <div class="batch-actions">
        <select name="batch_action">
            <option value="">{{ 'batch.action.empty'|trans({}, 'LyraAdminBundle') }}</option>
            {% for action in grid.batchActions %}
                <option value="{{ action }}">{{ (action.text|default(grid.modelName~'.batch.action.'~action))|trans({}, action.trans_domain|default(grid.transDomain)) }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="action[batch]" value="{{ 'batch.form.submit'|trans({}, 'LyraAdminBundle') }}" />
    </div>
{% endif %}
