{% block flash_messages %}
    <div class="flash-messages">
        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, list.transDomain) }}
        </div>
        {% endfor %}
    </div>
{% endblock %}
