{% block search_actions %}
    {% if filter.hasFields %}
    <div class="search-actions">
        <a href="#filter" class="button ui-icon-search">{{ 'list.action.search'|trans({}, 'LyraAdminBundle') }}</a>
        <a href="{{ path(filter.routePrefix~'_filter', {'reset' : 'reset'}) }}" class="button ui-icon-arrowrefresh-1-e{{ filtered ? '' : ' disabled'}}">{{ 'filter.button.reset'|trans({}, 'LyraAdminBundle') }}</a>
    </div>
    {% endif %}
{% endblock %}
{% block list_actions %}
    <div class="list-actions">
    {% for action in list.listActions %}
        {% set attrs = list.actions[action] %}
        {% include attrs.template|default('LyraAdminBundle:List:action.html.twig') %}
    {% endfor %}
    </div>
{% endblock %}
