<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php" color="true">
  <php>
    <!-- <server name="SYMFONY" value="/path/to/symfony" /> -->
    <server name="KERNEL_DIR" value="Tests/Functional/App" />
  </php>
  <testsuites>
    <testsuite name="LyraAdminBundle Test Suite">
      <directory suffix="Test.php">./Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./Tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
