{% extends 'LyraAdminBundle::layout.html.twig' %}
{% block content %}
    {% block dialog_title %}
        <h1>{{ action.dialogTitle|trans({}, 'LyraAdminBundle') }}</h1>
    {% endblock %}
    {% block form %}{% endblock %}
{% endblock %}
